<section class="probootstrap-section probootstrap-bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center probootstrap-animate">
                <div class="probootstrap-heading dark">
                    <h1 class="primary-heading">Discover</h1>
                    <h3 class="secondary-heading">Our Store</h3>
                    <span class="seperator">* * *</span>
                </div>
                <p>Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit</p>
                <p><a href="#" class="probootstrap-custom-link">About Us</a></p>
            </div>
            <div class="col-md-6 col-md-push-1 probootstrap-animate">
                <p><img src="img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            </div>
        </div>
        <!-- END row -->
    </div>
</section>

<section class="probootstrap-section-bg overlay" style="background-image: url('/img/hero_bg_2.jpg');" data-stellar-background-ratio="0.5"
         data-section="specialties">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center probootstrap-animate">
                <div class="probootstrap-heading">
                    <h2 class="primary-heading">Discover</h2>
                    <h3 class="secondary-heading">Our Specialties</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- probootstrap-bg-white -->
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="probootstrap-cell-retro">
                <div class="half">

                    <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                        <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
                        <div class="text text-center">
                            <h3>Baked Potato Pizza</h3>
                            <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                            <p class="price">$20.99</p>
                        </div>
                    </div>
                    <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
                        <div class="image" style="background-image: url(img/img_square_2.jpg);"></div>
                        <div class="text text-center">
                            <h3>Salted Fried Chicken</h3>
                            <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                            <p class="price">$19.99</p>
                        </div>
                    </div>
                    <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                        <div class="image" style="background-image: url(img/img_square_3.jpg);"></div>
                        <div class="text text-center">
                            <h3>Imported Salmon Steak</h3>
                            <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                            <p class="price">$20.99</p>
                        </div>
                    </div>

                </div>
                <div class="half">

                    <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                        <div class="image" style="background-image: url(img/img_square_4.jpg);"></div>
                        <div class="text text-center">
                            <h3>Roast Beef (4 sticks)</h3>
                            <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                            <p class="price">$32.99</p>
                        </div>
                    </div>
                    <div class="probootstrap-cell reverse probootstrap-animate" data-animate-effect="fadeIn">
                        <div class="image" style="background-image: url(img/img_square_5.jpg);"></div>
                        <div class="text text-center">
                            <h3>Tuna Roast Source</h3>
                            <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                            <p class="price">$25.99</p>
                        </div>
                    </div>
                    <div class="probootstrap-cell probootstrap-animate" data-animate-effect="fadeIn">
                        <div class="image" style="background-image: url(img/img_square_1.jpg);"></div>
                        <div class="text text-center">
                            <h3>Fried Potatoes with Garlic</h3>
                            <p>Laboriosam pariatur modi praesentium deleniti molestiae officiis atque numquam.</p>
                            <p class="price">$32.99</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
